<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Final_Assignment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="connstring"  connectionString="Data Source=SDSTUDENT-HP;Initial Catalog=dbFinalAssignment;Integrated Security=SSPI" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Final_Assignment.AJAXAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Final_Assignment.AJAX">
        <endpoint address="" behaviorConfiguration="Final_Assignment.AJAXAspNetAjaxBehavior"
            binding="webHttpBinding" contract="Final_Assignment.AJAX" />
      </service>
    </services>
  </system.serviceModel>
  <applicationSettings>
    <Final_Assignment.Properties.Settings>
      <setting name="Final_Assignment_weather_Weather" serializeAs="String">
        <value>http://wsf.cdyne.com/WeatherWS/Weather.asmx</value>
      </setting>
    </Final_Assignment.Properties.Settings>
  </applicationSettings>
</configuration>
